*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

:root{
    --background: rgb(28, 28, 28);
    --second-background: rgb(44, 44, 44);

}
body{
    min-height: 100vh;
    background-color: var(--background);
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(43, 43, 43, 0.6);
    backdrop-filter: blur(10px);
    z-index: 10000;
}
.direct{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5rem;
}
nav .direct a{
    display: flex;
    text-align: center;
    align-items: center;
    color: whitesmoke;
    opacity: 0.6;
    transition: 0.2s ease-in-out;
    justify-content: center;
}
nav .direct a:hover{
    opacity: 1;
}
.me{
    align-items: center;
    font-size: 25px;
    color:white;
    opacity: 0.6;
    transition: 0.2s ease-in-out;
}
.me:hover{
    opacity: 1;
}

span{
    align-items: center;
    background: linear-gradient(to right, skyblue, purple);
    background-clip: text;
    color: transparent;
}
section{
    min-height: 100vh;
    padding: 5% 15%;
}
#home{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: whitesmoke;
}
.info{
    align-items: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    color: whitesmoke;
    opacity: 0.6;
}
.info h1{
    font-size: 10em;
    font-weight: 500;
    opacity: 1;
}
.info p{
    margin-top: 25px;
    font-size: 1.5em;
    max-width: 600px;
    align-items: center
}
.info h3{
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    align-items: center
}
.info h4{
    margin-top: -25px;
    text-align: center;
    align-items: center
}
.info a{
    color: whitesmoke;
}
footer {
    width: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    opacity: 0.6;
    padding: 2em 0;
    bottom: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline;
    background-color: black;
}
