*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

:root{
    --background: rgb(28, 28, 28);
    --second-background: rgb(44, 44, 44);

}
body{
    min-height: 100vh;
    background-color: var(--background);
}
nav{
    letter-spacing: 0;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(43, 43, 43, 0.6);
}
